<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>学生管理</title>
    <style>
        table {
            width: 500px;
            height: 200px;
            border: 1px solid red;
            margin: 20px auto;
        }

        table th {
            background-color: skyblue;
        }

        table th,
        table td {
            border: 1px solid red;
            text-align: center;
        }

        h1,h3 {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>学生列表(ajax去请求数据，浏览器自己渲染数据)</h1>
    <h3><a href="/add">[增加新学生]</a></h3>
    <table id="box">
        <tr>
            <th>姓名</th>
            <th>年龄</th>
            <th>性别</th>
            <th>籍贯</th>
        </tr>
        <tr>
            <td>wangcai</td>
            <td>18</td>
            <td>男</td>
            <td>中国</td>
        </tr>
        <tr>
            <td>wangcai</td>
            <td>18</td>
            <td>男</td>
            <td>中国</td>
        </tr>
        <tr>
            <td>wangcai</td>
            <td>18</td>
            <td>男</td>
            <td>中国</td>
        </tr>
    </table>
</body>
<script type="text/template" id="mytemplate">
   
</script>
<script src="/js/jquery1.11.3.js"></script>
<script src="/js/underscore.min.js"></script>
</script>

</html>